@value vars: "../vars.module.css";
@value light-bg-color from vars;

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: light-bg-color;
    padding: 10rem 0;
}
