@value vars: "../vars.module.css";
@value dark-bg-color, primary-color, secondary-color, light-color, accent-font from vars;

.container {
    background: linear-gradient(90deg, #393939, #7d7d7d);
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    font-family: accent-font;
    color: light-color;
}

.background {
    position: absolute;
    top: -50%;
    right: -20%;
    opacity: 0.2;
    transform: scale(.65);
    transition: all 0.3s ease-in-out;
}

.background:hover {
    opacity: 0.5;
    transform: scale(.7);
}

.text_box {
    max-width: max-content;
    margin: 7rem 5rem;
}

.head {
    font-weight: 300;
    margin-bottom: 4rem;
}

.title {
    font-size: 1.5rem;
}

.caption {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 3rem;
}