@value vars: "../vars.module.css";
@value accent-color, accent-font, light-bg-color from vars;

.container {
    background-color: light-bg-color;
    z-index: -9;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_decor {
    background-color: accent-color;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin-top: 10rem;
}

.title {
    font-family: accent-font;
    color: accent-color;
    text-align: center;
    font-size: 1.2rem;
}

.subtitle {
    font-family: accent-font;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2;
}

.main {
    margin-top: 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background: linear-gradient(135deg, #51abff, #65f0e8);
    width: 70vw;
    border-radius: 30px;
    position: absolute;
    z-index: 0;
    height: 600px;
}

.cards {
    display: flex;
    overflow-x: scroll;
    padding: 2rem;
    height: min-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cards::-webkit-scrollbar {
    display: none;
}