.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    height: 30vh;
    animation-duration: 1s;
    animation-name: fadein;
    border-radius: 20px;
    box-shadow: 0px 2px 30px #ddd;
    background-color: #fff;
}

@keyframes fadein {
    from {
        opacity: 20%;
        transform: translateY(-5%);
    }

    to {
        opacity: 100%;
        transform: translateY(0);
    }
}